{% extends 'base.html' %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="shadow card">
            <div class="card-header">
                <div class="card-title">
                    Update Page
                </div>
                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input type="submit" value="Update confirm">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}